h3 {
  font-size: 1rem;
}

h2 {
  font-size: 1.2rem;
}

h1 {
  font-size: 3.4rem;
}

#container > * {
  margin: 0;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#playBar img {
  height: 33px;
  margin-left: 1rem;
}

img {
  height: 60px;
  border-radius: 5rem;
}

#identifier {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  color: white;
}
