body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  height: 100%;
  cursor: default;
  min-width: 650px;
  min-height: 160px;
}

html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  /*background-image: radial-gradient(50% 150%, #A128F3 60%, #CA3F3F 100%);*/
  background-image: radial-gradient(50% 150%, #28A0F3 50%, #3FCA6C 100%);
}
